@import "./size";
@import "./color";
.popover-type1{
	width: 156px;
	.ant-popover-content,.ant-popover-title{
		font-size: $baseSize;
		text-align: center;
	}
	.ant-popover-title,.ant-popover-inner-content{
		padding: 0;
	}
	.ant-popover-inner-content{
		.line-text{line-height: 50px;}
		p{border-bottom: 1px solid #e3e3e3;
			color: #333;
			&:last-of-type{border-bottom: none;}
		}
		p.cur{color: $fb3}
	}
}

.popover-type2{
	.ant-popover-inner-content{
		.line-text{line-height: 46px;color: #202020;font-size: 14px;@include flex-center();}
		.icon{color: #c3c3c3;font-weight: bold;font-size: 18px;margin-right: 10px;}
		.bottom{transform: rotate(180deg);}
		p{border-bottom: 1px solid #e3e3e3;
			color: #333;
			&:last-of-type{border-bottom: none;}
		}
		p.cur{color: $fb3}
		.editName{
			width: 18px;
			height: 18px;
			background: url("../assets/xiugai.png") no-repeat center;
			background-size: cover;
			
		}
	}
}
.Modal-Portal .datepicker-modal{
	background-color: transparent;
	width:calc(100% - 250px);
	.datepicker.ios{
		animation: run 0.2s  cubic-bezier(.5, 0, 0, 0);
	}
	.datepicker.ios .datepicker-content{
		width: 30%;
		margin: 0 auto;
	}
	.datepicker.ios .datepicker-navbar{
		border: none;
		.datepicker-navbar-btn{
			font-size: 16px;
			height: 50px;
			line-height: 50px;
			&:first-child{
                color: $c20;
			}
			&:last-child{
				color: $c99;
			}
		}
	}
}
@keyframes run {
	0%{
		height: 0
	}
	100%{
		height: 270px;
	}
}
.am-toast.am-toast-nomask{
	position: fixed;
	top: 80% !important;
	left:calc( (100% + 250px) / 2);
}
.am-toast-notice-content .am-toast-text {
	padding: 10px;
	font-size:14px;
}
.am-icon-lg{
	width: 50px;
	height: 50px;
}
.am-toast-notice-content .am-toast-text.am-toast-text-icon{
	padding: 15px 30px;
	}
.right-container .rc-load-more {
	bottom: -10px;
}
.right-container .rc-load-more:after {
	background-size: 1rem,1rem;
}
