$fff : #fff;


/*
* 背景色
*/
//主色 红
$fb3 : #fb3030;

//底色 灰
$f5 : #f5f5f5;

//辅助色
$ffe : #ffe3e3;
$c3f : #292c3f;



/*
* 文本颜色
*/
//标题  标题正文颜色
$c20 : #202020;

//次要及辅助信息颜色
$c99 : #999;

//输入框内提示信息颜色
$bb : #bbbbbb;

//纯文字按钮补充颜色
$c22: #2272c8;

//着重选中文字颜色
$fb3: #fb3030;

//错误信息
$dd : #dd0000;

//border
$e3 : #e3e3e3;
